<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block header %} {{ header }} {% endblock header %}
<hr>
{% block content %} Default content {% endblock content %}
<hr>
{% block footer %} {{ footer }} {% endblock footer %}

</body>
</html>